
@{
    ViewBag.Title = "Start";
}

<div class="col-sm-12">
    <img id="startimg" src="~/Azzurro_Pizzeria.png" />
    <p id="start">
        BLYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAT
        <br />
        <br />
        Många pizzerior erbjuder avhämtning, vilket innebär att man beställer mat i förväg
        eller på plats och sedan hämtar den färdiga maten i pizzakartonger/förvaringsburkar för
        att äta den på annan plats. Vissa pizzerior har även hemleverans. Det innebär att ett pizzabud
        transporterar den beställda maten till beställarens ytterdörr eller angivna adress, 
        under förutsättning att adressen är inom ett förangivet avstånd från pizzerian.
        Pizzabud kan transporteras med bil, men i flera länder är det vanligt att budet
        använder sig av cykel eller moped. Kostnader för hemleveransen kan tillkomma utöver 
        matkostnaden. Maten kan beställas på pizzerian, via telefon och på senare tid erbjuder
        många pizzerior även beställningar via internet. 
    </p>
    
</div>